@font-face {
  font-family: Noto Sans;
  src: url(./NotoSans-Bold.ttf);
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.markdown>*:first-child {
  margin-top: 0 !important;
}

.markdown h1, 
.markdown h2, 
.markdown h3, 
.markdown h4, 
.markdown h5, 
.markdown h6 {
    padding: 0;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
    margin-bottom: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdown h1, .markdown h2, .markdown h3 {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.markdown h1 {
  font-size: 2em;
}

.markdown h2 {
  font-size: 1.5em;
}

.markdown h3 {
  font-size: 20px;
}

.markdown h4 {
  font-size: 1em;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 2em;
  margin-bottom: 16px;
}

.markdown li+li {
  margin-top: .25em;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown > p > a > img {
  display: inline;
}

.markdown pre {
  padding: 15px;
  background-color: #f6f8fa;
  border-radius: 6px;
  margin-bottom: 16px;
}

.markdown code,
.markdown pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 14px;
}

.markdown a {
  color: #0969da;
}

.markdown blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown table th {
  font-weight: 600;
}

.markdown table td,
.markdown table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.loading {
  width: 200px;
  color: rgba(0, 0, 0, 0) !important;
  background: rgba(190, 190, 190, 0.2) !important;
}